body {
    font-family: "Roboto", sans-serif;
    text-align: justify;
    width: 100%;
}

/*------------------------------------------------------------- Navbar */

.nav-container {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    background-color: #8f8f8f;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border:0;
}

.navbar-dark .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-dark .navbar-text {
    color: #e0baba;
    padding: 8px;
    margin:0;
}


/*-------------------------------------------------------- Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.jumbotron .lead {
    margin:25px 0;
    color: #fff;
    text-align: justify;
    z-index: 1;
}
.def-right {
    position: relative;
    float: right;
    margin: 100px 0;
}

/* --------------------------------------------------------------------containers */

.def-container {
    height: 100%;
    width:100%;
    margin-right: 15px;

    background: url("../images/CreativeCode2.jpeg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position:relative;
}

.history-container {
    
    width:100%;
    background-color:#fafafa;
}

.history-container p {
    color:#000;
}   

.card-text {
    padding: 0;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.container-wrapper--marron {
    background-color: #883a29;
    color:white;
}

.know-further-container {
    text-align: center;
}
.center-text {
   max-width:70%;
   margin:auto;
}

.content-container-1 {
    padding-top: 75px;
    padding-bottom: 45px;
}

.center-cropped-0 img {
  object-fit: none;
  object-position: center;
  margin-left:100px;
  width: 85%;
  max-height: 35px;
  margin-bottom: 3rem;
}

.center-cropped img {
  object-fit: none;
  object-position: center;
  margin-left:100px;
  width: 85%;
  max-height: 100px;
  margin-bottom: 0.5rem;
}
/* ------------------------------------------------ Cases */

.media {
    height: auto;
    width: auto;
}

.case {
    position: relative;
    height:280px;
}

.case .vid {
    position: absolute;
    margin-bottom: 20px;
    padding: 0 0 0 15px;
}



/* ------------------------------------------------ Page headers */

.history-header h2 {
    display: inline;
}
.history-header h4 {
    display: inline;
}

.page-header {
    margin-bottom: 25px;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}


/* Block dividers */

.block-divider {
    width:75px;
    height:5px;
    border:0;
    background-color:#444;
}

.block-divider--black {
    background-color: #0000000;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius:23px;
    width:160px;
}
.btn--red {
    color:white;
    background-color: #f05f40;
    border-color:#f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

.language {
    text-align: justify;
    margin-bottom: 40px;
}

.language h3 {
    text-align: center;
    padding-bottom: 8px;
}

.language .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

.button-read-more {
    text-align:center;
}

.lang {
  
}


/* ------------------------------------------------ videos */




/* ------------------------------------------------ Social Links */

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 15px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}